<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/articles.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/article_style.css">
    <title>Health Data Visualizations</title>
</head>
<body>
<div class="background">
    <div class="container">
        <div class="jumbotron">
            <div class="page-title">Health Data Viz</div><br>
            <div class="page-links">
                <a href="/articles">All Articles</a> | <a href="/saved">Saved Articles</a> | <a href="/scrape">Scrape New Articles</a> 
            </div>
        </div>
        {{{ body }}}
    </div>
</div>
</body>
</html>